@mixin base-elements {
  a,
  a:visited,
  a:link,
  a:active {
    border-bottom: 0 solid;
    @extend .text-decoration-none;
  }

  ul,
  ol {
    @extend .list-style-none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
}

@include base-elements;
