/*
*  Gaudiamus 1.1 variables
*/

/* Grid */
$columns: 12;
$items: 6;
$breakpoint-map: (
  "xs": 320px,
  "sm": 425px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
  "xxl": 2560px,
  "xxxl":3440px
);

/* Spacing & utility generator */
$baseSpacing: 20px;
$spacingUnit: 'rem';
$spacingStep: .25;
$numSpacingUnits: 5;

$shorthand-map: (
  "t":"top",
  "b":"bottom",
  "r":"right",
  "l":"left",
  "x":(1:"left", 2:"right"),
  "y":(1:"top", 2:"bottom"));
$property-map: ("m":"margin", "p":"padding");

/* Colors */
$primaryColor: #3F51B5;
$lightPrimaryColor: #C5CAE9;
$darkPrimaryColor: #303F9F;
$accentColor: #ff5252;
$lightAccentColor: #FFCDD2;
$darkAccentColor: #D32F2F;
$successColor: #4caf50;
$lightSuccessColor: #C8E6C9;
$darkSuccessColor: #388E3C;
$warningColor: #FF9800;
$lightWarningColor: #FFE0B2;
$darkWarningColor: #F57C00;
$dangerColor: #c92d2d;
$lightDangerColor: #f44336;
$darkDangerColor: #b71c1c;
$gray: rgba(0, 0, 0, .2);
$white: #e8e5e5;
$black: #101010;

$color-class-map: (
  "bg":"background-color",
  "text":"color",
  "b":"border-color"
);

$color-map: (
  "primary":$primaryColor,
  "light-primary":$lightPrimaryColor,
  "dark-primary":$darkPrimaryColor,
  "accent":$accentColor,
  "light-accent":$lightAccentColor,
  "dark-accent":$darkAccentColor,
  "success":$successColor,
  "light-success":$lightSuccessColor,
  "dark-success":$darkSuccessColor,
  "warning":$warningColor,
  "light-warning":$lightWarningColor,
  "dark-warning":$darkWarningColor,
  "danger":$dangerColor,
  "light-danger":$lightDangerColor,
  "dark-danger":$darkDangerColor,
  "transparent":transparent,
  "gray": $gray,
  "white": $white,
  "black": $black
);

$light-color-map: (
  "light-primary":$lightPrimaryColor,
  "light-accent":$lightAccentColor,
  "light-success":$lightSuccessColor,
  "light-warning":$lightWarningColor,
  "light-danger":$lightDangerColor,
);

$dark-color-map: (
  "dark-primary":$darkPrimaryColor,
  "dark-accent":$darkAccentColor,
  "dark-success":$darkSuccessColor,
  "dark-warning":$darkWarningColor,
  "dark-danger":$darkDangerColor,
);

$state-map: ("focus", "hover", "active");

/* Shading & borders */

$depth: 21;
$spread: 4px;

/* Borders sides and styles */
$sides: (
  "t":"top",
  "r":"right",
  "b":"bottom",
  "l":"left"
);

$border-styles-map: (
  "none": "none",
  "hidden": "hidden",
  "dot":"dotted",
  "dash":"dashed",
  "solid":"solid",
  "double": "double",
  "groove": "groove",
  "ridge": "ridge",
  "inset": "inset",
  "outset": "outset",
);

/* Typography */
$fontSize-map: (
  "sm":3,
  "default":4,
  "md":5,
  "lg":7,
  "xl":9,
  "xxl":12
);

$text-transform-map: (
  "uppercase",
  "lowercase",
  "capitalize",
  "normal-case"
);

$decoration-map: (
  "underlined",
  "overline",
  "lineThrough",
  "none"
);

$decoration-style-map: (
  "wave",
  "solid",
  "double",
  "dotted",
  "dashed"
);

$text-overflow: (
  "truncate",
  "overflow-ellipsis",
  "overflow-clip"
);

$text-align: (
  "right",
  "center",
  "left",
  "justify",
);

$italic: "italic";

/* Show/Hide */
$hidden-map: (
  "hide": "none",
  "display": "block"
);

/* Opacity */
$clarity-map: (
  "25": 0.25,
  "50": 0.50,
  "75": 0.75,
  "100": 1
);

/* Overflow */
$overflow-map: (
  "visible":"visible",
  "hidden":"hidden",
  "scroll":"scroll",
  "auto":"auto",
  "none":"none"
);

$overflow-direction: (
  "x":"x",
  "y":"y"
);

/* Z-Index */
$z-index-map: (
  "0":0,
  "10":10,
  "20":20,
  "30":30,
  "40":40,
  "50":50,
  "auto":"auto"
);

/* Cursor */
$mouse-cursor: (
  "cursor-auto": "auto",
  "cursor-default": "default",
  "cursor-pointer": "pointer",
  "cursor-wait": "wait",
  "cursor-text": "text",
  "cursor-move": "move",
  "cursor-not-allowed": "not-allowed"
);

/* User Select */
$select-map: (
  "none" "text" "all" "auto"
);

/* Spacing mod */
$height-width-scale: (
  0: 0px,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  11: 2.75rem,
  12: 3rem,
  14: 3.5rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  28: 7rem,
  32: 8rem,
  36: 9rem,
  40: 10rem,
  44: 11rem,
  48: 12rem,
  52: 13rem,
  56: 14rem,
  60: 15rem,
  64: 16rem,
  72: 18rem,
  80: 20rem,
  96: 24rem,
  auto: auto
);
