@mixin button {
  @each $size in $button-size-map {
    @each $type in $button-type {
      @each $subclass, $value in $color-map {
        @each $state in $state-map {
          @each $breakpoint, $break in $breakpoint-map {
            .btn {
              @extend .b-rounded, .font-md, .b-gray, .b-1-solid, .text-black, .uppercase, .m-2,
              .cursor-pointer, .font-sans, .font-strong;
            }
            .btn-line-#{$subclass} {
              @extend .b-rounded, .font-md, .b-#{$subclass}, .b-1-solid, .text-#{$subclass}, .uppercase, .m-2,
              .cursor-pointer, .font-sans, .font-strong;
              color: findDark($subclass);
            }
            .btn-#{$subclass} {
              @extend .b-rounded, .font-md, .b-2-solid, .b-#{findDark($subclass)},
              .uppercase, .m-2, .cursor-pointer, .bg-#{$subclass}, .font-sans, .font-strong;
              color: findDark($subclass);
            }
            .#{$state}\:btn {
              @extend .b-rounded, .font-md, .b-gray, .b-1-solid, .uppercase, .m-2,
              .cursor-pointer, .font-sans, .font-strong;
              color: findDark($subclass);
            }
            .#{$state}\:btn-line-#{$subclass} {
              @extend .b-rounded, .font-md, .b-#{$subclass}, .b-1-solid, .text-#{$subclass}, .uppercase, .m-2,
              .cursor-pointer, .font-sans, .font-strong;
              color: findDark($subclass);
            }
            .#{$state}\:btn-#{$subclass} {
              @extend .b-rounded, .font-md, .b-2-solid, .b-#{findDark($subclass)}, .text-white,
              .uppercase, .m-2, .cursor-pointer, .bg-#{$subclass}, .font-sans, .font-strong;
            }

          }
        }
      }
    }
  }
}

@function findDark($string) {
  $map: findColorMap($string);
  $find: map-has-key($map, $string);
  @if $find {
    @each $darkClass, $darkAlt in $dark-color-map {
      @each $lightClass, $lightAlt in $light-color-map {
        $lightKey: str-slice($string, 7);
        $darkKey: str-slice($string, 6);
        @if map-has-key($light-color-map, $string) {
          @return "dark-" + $lightKey;
        } @else if map-has-key($dark-color-map, $string){
          @return "light-" + $darkKey;
        }
      }
    }
  }
  @return $string;
}

@function findColorMap($string) {
  @if map-has-key($light-color-map, $string) {
    @return $light-color-map;
  }
  @return $dark-color-map;
}

@include button;
